<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjl.distributed.mq.config.dal.mapper.ConnectionConfigMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yjl.distributed.mq.config.bean.entity.ConnectionConfigEntity">
		<id column="id" property="id" />
		<result column="broker_key" property="brokerKey" />
		<result column="broker_url" property="brokerUrl" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="max_connections" property="maxConnections" />
		<result column="maximum_active_session" property="maximumActiveSession" />
		<result column="max_thread_pool_size" property="maxThreadPoolSize" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, broker_key AS brokerKey, broker_url AS brokerUrl, username, password, max_connections AS maxConnections, maximum_active_session AS maximumActiveSession, max_thread_pool_size AS maxThreadPoolSize, status, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
